(
    spells: {
       0 : (
         name: "Smite",
         damage: 10,
         range: 30.0,
         cooldown: 1.5,
         casting_duration: 0.0,
         castable_while_moving: false,
         visual_id: 0,
        )
    }
)
