services:
  mmo-server:
    build: 
      target: mmo-server
    working_dir: /app
    network_mode: host
    ports:
      - 8000:8000/udp
    volumes:
      - ./mmo-server/assets:/app/assets
    environment:
      - APP_SERVER__HOST=0.0.0.0
      - APP_SERVER__METRICS_PATH=/app/game-metrics.prom
      - APP_DATABASE__PORT=5432
      - SQLX_OFFLINE=true

  web-server:
    build: 
      target: web-server
    working_dir: /app
    ports:
      - 8001:8001
    environment:
      - APP_APPLICATION__HOST=0.0.0.0
      - APP_DATABASE__HOST=postgres
      - APP_DATABASE__PORT=5432
      - SQLX_OFFLINE=true

  postgres:
    image: postgres:17-alpine
    hostname: postgres
    ports:
      - 5432:5432
    volumes:
      - ~/apps/postgres:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=postgres
      - POSTGRES_DB=mmo
      - PGPORT=5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d mmo -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  postgres-migration:
    depends_on:
      postgres:
        condition: service_healthy
    build: 
      dockerfile: ./db/migrations/Dockerfile
    working_dir: /app
    environment:
      - DATABASE_URL=postgres://postgres:password@postgres:5432/mmo

  provisioner:
    build: 
      dockerfile: ./provisioner/Dockerfile
    working_dir: /app
    ports:
      - 8032:8032
    environment:
      - PROVISIONER_SERVER_HOST=0.0.0.0
      - PROVISIONER_SERVER_PORT=8032
      - PROVISIONER_DATABASE_HOST=postgres
      - PROVISIONER_DATABASE_PORT=5432
      - PROVISIONER_DATABASE_USERNAME=postgres
      - PROVISIONER_DATABASE_PASSWORD=password
      - PROVISIONER_DATABASE_NAME=mmo

  # Tempo runs as user 10001, and docker compose creates the volume as root.
  # As such, we need to chown the volume in order for Tempo to start correctly.
  tempo-init:
    image: busybox:latest
    user: root
    entrypoint:
      - "chown"
      - "10001:10001"
      - "/var/tempo"
    volumes:
      - ./development/tempo-data:/var/tempo

  tempo:
    image: grafana/tempo:latest
    command: ["-config.file=/etc/tempo.yml"]
    volumes:
      - ./development/tempo.yml:/etc/tempo.yml
      - ./development/tempo-data:/var/tempo
    ports:
      - "4317:4317" # otlp grpc
      - "4318:4318" # otlp http
    depends_on:
      - tempo-init

  agones:
    image: "us-docker.pkg.dev/agones-images/release/agones-sdk:1.52.0"
    command: --local 
    network_mode: service:mmo-server
