services:
  postgres:
    image: postgres:17-alpine
    hostname: postgres
    ports:
      - 5432:5432
    volumes:
      - ~/apps/postgres:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=postgres
      - POSTGRES_DB=mmo
      - PGPORT=5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d mmo -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  postgres-migration:
    depends_on:
      postgres:
        condition: service_healthy
    build: 
      dockerfile: ./db/migrations/Dockerfile
    working_dir: /app
    environment:
      - DATABASE_URL=postgres://postgres:password@postgres:5432/mmo

  provisioner:
    build: 
      dockerfile: ./provisioner/Dockerfile
    working_dir: /app
    ports:
      - 8032:8032
    environment:
      - APP_SERVER__HOST=0.0.0.0
      - APP_SERVER__PORT=8032
      # - APP_SERVER__NETCODE_PRIVATE_KEY=Z8ocDNthwK2cWI0XMIOVsEsKErlxSjuw7k0YibAucSk=
      - APP_DATABASE__HOST=postgres
      - APP_DATABASE__PORT=5432
      - APP_DATABASE__USERNAME=postgres
      - APP_DATABASE__PASSWORD=password
      - APP_DATABASE__NAME=mmo

  # Tempo runs as user 10001, and docker compose creates the volume as root.
  # As such, we need to chown the volume in order for Tempo to start correctly.
  tempo-init:
    image: busybox:latest
    user: root
    entrypoint:
      - "chown"
      - "10001:10001"
      - "/var/tempo"
    volumes:
      - ./development/tempo-data:/var/tempo

  tempo:
    image: grafana/tempo:latest
    command: ["-config.file=/etc/tempo.yml"]
    volumes:
      - ./development/tempo.yml:/etc/tempo.yml
      - ./development/tempo-data:/var/tempo
    ports:
      - "3200:3200" # tempo
      - "4317:4317" # otlp grpc
      - "4318:4318" # otlp http
    depends_on:
      - tempo-init

  grafana:
    image: grafana/grafana:12.2.1@sha256:35c41e0fd0295f5d0ee5db7e780cf33506abfaf47686196f825364889dee878b
    volumes:
      - ./development/grafana-datasources.yml:/etc/grafana/provisioning/datasources/datasources.yaml
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
      - GF_FEATURE_TOGGLES_ENABLE=traceqlEditor metricsSummary
      - GF_INSTALL_PLUGINS=https://storage.googleapis.com/integration-artifacts/grafana-exploretraces-app/grafana-exploretraces-app-latest.zip;grafana-traces-app
    ports:
      - "3000:3000"

  agones:
    image: "us-docker.pkg.dev/agones-images/release/agones-sdk:1.52.0"
    ports:
      - "9357:9357"
    command: ["--local", "--address", "0.0.0.0"]

  # NOTE: We use the direct application binary to save recompilation time for local dev
  # mmo-server:
  #   build: 
  #     target: mmo-server
  #   working_dir: /app
  #   ports:
  #     - 8000:8000/udp
  #   volumes:
  #     - ./mmo-server/assets:/app/assets
  #   environment:
  #     - APP_SERVER__HOST=0.0.0.0
  #     - APP_SERVER__METRICS_PATH=/app/game-metrics.prom
  #     - APP_DATABASE__PORT=5432
  #     - APP_TRACING__OTEL_EXPORTER_ENDPOINT=http://tempo:4317
  #     - SQLX_OFFLINE=true
  #
  # web-server:
  #   build: 
  #     target: web-server
  #   working_dir: /app
  #   ports:
  #     - 8001:8001
  #   environment:
  #     - APP_APPLICATION__HOST=0.0.0.0
  #     - APP_DATABASE__HOST=postgres
  #     - APP_DATABASE__PORT=5432
  #     - APP_TELEMETRY__OTEL_EXPORTER_ENDPOINT=http://tempo:4317
  #     - SQLX_OFFLINE=true
  #
