(
    spells: {
        3: (
            name: "Fireball",
            damage: 10,
            range: 30.0,
            cooldown: 0.0,
            casting_duration: 2.0,
            castable_while_moving: false,
            visual_id: 3,
        ),
        4: (
            name: "Fire blast",
            damage: 10,
            range: 30.0,
            cooldown: 1.5,
            casting_duration: 0.0,
            castable_while_moving: true,
            visual_id: 4,
        ),
        100: (
            name: "Strike",
            damage: 8,
            range: 3.0,
            cooldown: 2.0,
            casting_duration: 0.0,
            castable_while_moving: true,
            visual_id: 10,
        ),
        101: (
            name: "Slash",
            damage: 8,
            range: 3.0,
            cooldown: 2.0,
            casting_duration: 0.0,
            castable_while_moving: true,
            visual_id: 10,
        ),
    }
)
