[package]
name = "protocol"
version = "0.1.0"
edition = "2024"

[lib]
path = "src/lib.rs"

[dependencies]
bitcode = { workspace = true }
glam = { version = "0.30.9", features = ["serde"] }
serde = { version = "1.0", features = ["derive"] }
