name: DB seeder push

on:
  push:
    paths:
      - ".github/workflows/db-seeder-push.yml"
      - "db/seeder/**"
  workflow_dispatch:

permissions:
      id-token: write

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: rejdeboer
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: ./.github/actions/push-image
        with:
          file: "db/seeder/Dockerfile"
          image: rejdeboer/mmo-db-seeder

